# OpenAI API
OPENAI_API_KEY=your_openai_api_key_here

# Perplexity API
PERPLEXITY_API_KEY=your_perplexity_api_key_here

# Firebase Config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDdcyDTq0kXkIrh3qbIrimjuIlx-s6KCA0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ai-analysis-14efa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ai-analysis-14efa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ai-analysis-14efa.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=83600755913
NEXT_PUBLIC_FIREBASE_APP_ID=1:83600755913:web:d405bce243716214489118
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-V45FE07TBZ

# Vercel
VERCEL_URL=your_vercel_url_here
